 html,
 body {
     min-height: 100vh;
     background: url('/images/bg-pattern-top-mobile.svg'), url('/images/bg-pattern-bottom-mobile.svg');
     background-repeat: no-repeat;
     background-position: top -0.8rem left 0rem, bottom 0 right 0;
     background-attachment: fixed;
 }
 
 .container {  
     min-height: 100vh;
    padding: 1rem 1rem;
 }

.container__items {
    display: flex;
    flex-direction:column;
}

.container__items:last-child {
    height: auto;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 6rem;
   display: flex;
   flex-direction: column;
    
}
.container__items__title {
    width: 100%;
    padding: 4rem 1rem 2rem 1rem;
}
.container__items__title h1 {
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.container__items__title>p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: center;
    padding-right: 0;
}
.container__items__rating{
    width: 100%;
    margin-top: 0rem; 
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}
.rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.rating:first-child{
    margin-left: 0;
}

.rating:nth-child(2){
    margin-left: 0;
}
.rating:last-child{
    margin-left: 0;
}

.rating-text p{
    margin-left: 0;
    margin-top: 0.8rem;
} 

.personnal:nth-child(2){
    margin-top: 1rem;
    margin-left: 0;
}
.personnal:last-child {
    margin-top: 1rem;
    margin-left: 0;
   
}