
:root {
    /* Primary */

--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);

/* ### Neutral */

--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}
:root {
    font-size: 93.75%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    background: url("/images/bg-pattern-bottom-desktop.svg"),url("/images/bg-pattern-top-desktop.svg");
    background-position: bottom -5rem right 0rem, top -3.2rem left -3.5rem;
    background-repeat: no-repeat; 
}

strong {
    color: var(--Soft-Pink);
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.8;
}

.container {
    height: 100vh;
    margin: 5rem auto ; 
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.container__items {
    display: flex;
    flex-direction: row nowrap;
}

.container__items:last-child {
    height: 230px;
    margin-top: 3rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row nowrap;
    align-items: flex-start; 
}
/* title */
.container__items__title {
    width: 40%;
    padding: 1rem 1.5rem;
}

.container__items__title h1 {
    color: var(--Very-Dark-Magenta);
    line-height: 2.5rem;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}

.container__items__title>p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: var(--Dark-Grayish-Magenta);
    padding-right: 2rem;
}
/* rating */
.container__items__rating{
    width: 60%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rating {
    width: 55%;
    background: var(--Light-Grayish-Magenta);
    display: flex;
    padding: 0.9rem 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.star-icon {
    display: flex;
    align-items: center;
}

.star-icon img {
    display:inline-block;
    width: 0.9rem;
    height: auto;
    margin-right: 0.5rem;
} 

.rating:first-child{
    margin-left: 7rem;
}

.rating:nth-child(2){
    margin-left: 10rem;
}

.rating:last-child{
    margin-left: 13rem;
}

.rating-text  {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.rating-text p{    
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: 0.7rem;
    margin-left: 1.4rem;
}

.personnal {
    flex: 1;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: var(--Very-Dark-Magenta);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 7px;
}

.personnal:nth-child(2){
    align-self: center;
    margin-left: 1.5rem;
}

.personnal:last-child {
    margin-left: 1.5rem;
    align-self: flex-end;
}

.personnal img {
    display: block;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}

.personnal__item {
    display: flex;
    padding: 0 1rem;
}

.personnal__item__elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    color: var(--White);
    opacity: 0.8;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.personnal__text {
    margin: 1rem 1rem;
    color: var(--White);
    opacity: 0.8;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
